---
layout: default
title: About me
---
<main class="content" role="main">
    <article class="post">


            {% if site.author %}
                <section class="author">
                  <header> <a href="{{ site.baseurl }}"> <img class="profile" src="/assets/images/profile.png" alt="Author's profile picture"></a></header>
                  <article>
                    <!-- Author Name -->
                      <h4> {{ site.author }} </h4>
                      <!-- Author Bio -->
                      <p> Software developer. You can get to know me better on <a href="https://github.com/James-Zhao">GitHub</a>, <a href="http://weibo.com/u/3530157892">Weibo</a>.</p>
                    </article>
                </section>
            {% endif %}

            {% if page.disqus %}
            <section class="disqus">
              <div id="disqus_thread"></div>
                <script>
                /**
                * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//ewertonorg.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>
                    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
            </noscript>
            </section>
            {% endif %}

    </article>

</main>
